/*************************************************************
                Mobile Menu 
**************************************************************/

.navbar-header {
    position: ;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 6px;
    display: none;
}

#mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    color: 212226;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    top: -33px;
    right: 14px;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
    color: black;
}

#mobile-nav a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    transition: .3s;

}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
}

/* Scroll spy active state */

.white-nav-top #mobile-nav ul.nav > li.active > a {
    color: #f4c613;
    font-weight: 500;
}




/*=============================================
               Bootstrap 4 media queries
/*=============================================*/
/* extra large screen desktops chea we out chere */
@media (min-width: 2200px) {
    .navbar-brand {
        padding-left: 45rem;
    }

    .navbar {
        padding-top: 5rem;
    }
}

/* medium Devices (landscape tablets and medium desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Generic */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* Services 02 */
    #services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 395px;
    }

    .services-tab .tab-bg {
        line-height: 20px;
    }
}

/* small Devices (portrait tablets and small desktops) */
@media (min-width: 576px) and (max-width: 991px) {

    .navbar-toggler {
        border: 1px solid #fff;
        background-color: lightgray;
        margin-right: 3rem;
    }

    /*Nav links */
    ul.navbar-nav li a {
        text-align: center;
    }

    ul.navbar-nav li:last-child {
        margin-left: 4.3rem;
    }

    #home-heading h1 {
        font-size: 41px;
    }

    #home-text p {
        font-size: 13px
    }

    .btn-general {
        padding: 8px 35px 8px 35px;
        font-size: 10px;
    }

    .vertical-heading h2 {
        font-size: 29px;
    }

    #tech-statement h2 {
        font-size: 20px;
        line-height: 20px;
    }

    /* services 02 */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;

    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    .r-tabs-state-active a {
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        transition: color, border-bottom .3s linear;
        margin-top: 5px;
    }

    /* Accordian section // Services section */



    /*=============================================
               services hack had to fix my self.. 
/*=============================================*/
    /* Services 02 */
    #services-tabs .tab-bg {
        padding: 13px 30px;
        min-height: 310px;
    }

    .service-tab img {
        min-height: 310px;
    }

    .service-tab h3 {
        margin-bottom: 5px;
    }

    .service-tab p {
        margin-bottom: 5px;
    }

    .service-tab h2 {
        margin-bottom: 0;

    }

    .service .icon {
        margin-left: -10px;
    }

    .service .icon:nth-child(n-2) {
        margin-left: -15px;
    }

    /*=============================================
               End of service hack
/*=============================================*/

    /*pricing section */
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
        font-size: 35px;
    }

    /*blog section*/
    .blog-post .post-meta p {
        line-height: 14px;
    }

    /* Stats */
    .stats-item p {
        line-height: 18px;
    }



    /* extra small Devices (portrait tablets and ex small desktops) */


    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;

    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    .r-tabs-state-active a {

        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        transition: color, border-bottom .3s linear;
    }



    ul.office-details li i {
        width: 25px !important;
    }

    ul.office-details li {
        margin-right: 15px;
    }






    .stats-item {
        margin-bottom: 20px;
        padding: 25px 5px;
    }

    .stats-item i {
        font-size: 30px;
    }

    .stats-item h3 {
        font-size: 24px;
    }

    /*navigation */
    #mobile-nav-open-btn {
        display: block;
    }

    /*===============================================
            About section
=================================================*/
}

@media (min-width: 575px) and (max-width: 767px) {

    /*back to top btn */
    .btn-back-to-top {
        visibility: hidden;
        display: none;
    }


    /*navigation */
    #mobile-nav-open-btn {
        display: block;
    }
}


/*===============================================
            responsive back to top btn
=================================================*/
@media (min-width: 336px) and (max-width: 575px) {

    /*Nav links */
    ul.navbar-nav li a {
        text-align: center;
    }

    ul.navbar-nav li:last-child {
        margin-left: 4.3rem;
    }

    .content-box-lg {
        padding: 90px 0;
    }

    .vertical-heading {
        text-align: center;
    }

    .vertical-heading h5 {
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }

    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }

    #about-left {
        margin-bottom: 50px;
    }

    #about-right {
        text-align: center;
    }

    /* About 02 */

    .content-box-md {
        padding: 80px 0;
    }

    .about-item {
        padding: 55px 30px;
        margin-bottom: 35px;
    }

    .about-item i {
        font-size: 30px;
    }

    .about-item h3 {
        font-size: 18px;
    }



    /* Team section */

    #team-left .vertical-heading {
        min-height: 130px;
    }

    .skill h4 {
        font-size: 14px;
        line-height: 35px;
    }

    /* tech statement */

    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* horizontal headings */
    .horizontal-heading {
        margin-bottom: 40px;
    }

    .horizontal-heading h2 {
        font-size: 30px;
    }

    #services-01 img {
        margin: 35px 0;
    }

    .service,
    .service .icon {
        text-align: center !important;
    }

    .service h4 {
        font-size: 18px;
        padding: 40px 10px;
    }

    #services-tabs .tab-bg {
        text-align: center;
    }

    #services-tabs h2 {
        font-size: 40px;
    }

    #services-tbs h3 {
        font-size: 28px;
    }

    /* portfoilio */
    #portfolio {
        padding-bottom: 0;
    }

    #isotope-filters button {
        padding-right: 15px;
    }

    /* Service Tabs */

    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;

    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    .r-tabs-state-active a {

        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        transition: color, border-bottom .3s linear;
    }

    /* Testimonial section */

    #testimonials {
        padding-top: 45px;
    }

    #testimonials-slider {
        top: 0;
    }

    .navbar-toggler {
        border: 1px solid #fff;
        background-color: lightgray;
        margin-right: 3rem;
    }

    /*back to top btn */
    .btn-back-to-top {
        visibility: hidden;
        display: none;
    }

    .stats-item i {
        font-size: 30px;
    }

    .stats-item h3 {
        font-size: 24px;
    }

    /* Contact */

    #contact-left {
        text-align: center;
    }

    .office {
        margin-bottom: 40px;
    }

    ul.office-details li {
        display: block;
        margin-top: 25px;
    }

    ul.office-details li i {
        /* rewatch this good stuff*/
        width: auto;
        display: block;
        margin-bottom: 3px;
    }

    ul.social-list {
        margin-bottom: 40px;
    }

    /*navigation */
    #mobile-nav-open-btn {
        display: block;
    }
    
    /* home heading */ 
    #home-heading h1 {
        font-size: 22px;
    }

    #home-text p {
        font-size: 13px;
        line-height: 18px;
        margin: 8px 2px 30px 2px;

    }
    
    .btn-general {
        padding: 8px 18px 8px 18px;
        font-size: 10px;
    }



}

@media (max-width: 335px) {

    .navbar-toggler {
        border: 1px solid #fff;
        background-color: lightgray;
        margin-right: 1rem;
    }

    /*Nav links */
    ul.navbar-nav li a {
        text-align: center;
    }

    ul.navbar-nav li:last-child {
        margin-left: 4.3rem;
    }

    /* navbrand img */
    .navbar-brand {
        padding: 0 0;
    }

    .btn-general {
        padding: 8px 18px 8px 18px;
        font-size: 10px;
    }


    /* vertical heading */

    .vertical-heading {
        text-align: center;
    }

    .vertical-heading h5 {
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }

    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
        padding-bottom: 20px;
    }

    #isotope-filters button {
        padding-right: 0px;
    }

    /* Customers Testimonials */

    .testimonial h3 {
        font-size: 25px;
    }

    /* Home Heading */
    #home-heading h1 {
        font-size: 25px;
    }

    #home-text p {
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .testimonial .stars {
        font-size: 14px;
    }

    /* Tech statement */
    #tech-statement h3 {
        font-size: 18px;
    }

    /* Service section */
    .service,
    .service .icon {
        text-align: center !important;
    }

    /* Service Tabs */

    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;

    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    .r-tabs-state-active a {

        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        transition: color, border-bottom .3s linear;
    }

    /* Contact */

    #contact-left {
        text-align: center;
    }

    .office {
        margin-bottom: 40px;
    }

    ul.office-details li {
        display: block;
        margin-top: 25px;
    }

    ul.office-details li i {
        /* rewatch this good stuff*/
        width: auto;
        display: block;
        margin-bottom: 3px;
    }

    ul.social-list {
        margin-bottom: 40px;
    }

    /*back to top btn */
    .btn-back-to-top {
        visibility: hidden;
        display: none;
    }

    /* Stats */
    .stats-item i {
        font-size: 30px;
    }

    .stats-item h3 {
        font-size: 24px;
    }

    /*navigation */
    #mobile-nav-open-btn {
        display: block;
    }


}