/* html, Body */
html,
body {
    height: 100%;
    font-size: 62.5%;
}

}

/**********************************************/
/* media query for body, html font-sizes */

@media only screen and (max-width: 75em) {
    html {
        font-size: 40%;
    }
}

/********************************************/
body {
    color: #212226;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;

}

section {
    background: #fff;
    overflow: hidden;
}


/* End of Html, Body */


/*  Preloader  */

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/solo-images/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* End of Preloader */


/* Home */
#home {
    background: none;
    height: 100%;
}


#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url('../video/solo.jpg') no-repeat;
    /*Fall back method incase*/
    background-size: cover;
    /*video doesnt work chea we out here*/
}


#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/*Button*/
.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;

}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;

}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

/* White Btn */
.btn-white {
    color: #212226;
    border: 1px solid #fff;
    background-color: #fff;

}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

/*End of white btn */
/*End of Button*/

/* Arrow Down */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}


/* End of Arrow Down */
/* End of Home */

/***************************************************
/* Content box
****************************************************/
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/***************************************************
/* End of content box
****************************************************/

/***************************************************
/* Vertical headings
****************************************************/
.vertical-heading h5 {
    color: #f4c613;
    font-weight: 14px;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    /* you tried doing this but it didnt work because of this.. has to be set inline-block to fix width/spacing of the property*/
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -5rem;
    font-size: 1.5rem;

}

.horizontal-heading h2,
.vertical-heading h2 {
    margin: 0 0 0 3.5rem;
    font-size: 4.2rem;
    font-weight: 100;
    line-height: 4.5rem;
}

.horizontal-heading {
    margin-bottom: 8rem;
}

.horizontal-heading h5 {
    font-size: 1.6rem;
    color: #f4c613;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.horizontal-heading h2 {
    margin: 0;
}

/***************************************************
/* End of Vertical headings
****************************************************/

/* About 01 */

.content-box-lg {
    padding: 120px 0;
}


#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

/* About 01 */

/* About 02 */
#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    height: 3px;
    width: 45px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}


/* Hover state */
.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

/* About 02 */

/* Team */
#team-left .vertical-heading {
    min-height: 135px;
}

/* .team-member changed inside script.js breaks if done here (margin: 8px) */
.team-member {
    position: relative;
}

.team-member-overlay {
    background: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 7rem 0;
}

/*******************************/
/* team-social-info padding*/

.owl-theme .owl-nav {
    font-size: 3rem;
    color: #212226;
}


@media (max-width: 991px) {
    .team-member-info {
        padding: 3rem 0;

    }

    .owl-theme .owl-nav {
        font-size: 3rem;
        color: #212226;
    }

    .vertical-heading h2 {
        /* Meet out team heading fix xm size*/
        margin-left: 3.5rem;
    }
}

@media (max-width: 767.98px) {
    .team-member-info {
        padding: 7rem 0;

    }

    .owl-theme .owl-nav {
        color: #212226;
    }

    .vertical-heading h2 {
        /* Meet out team heading fix xm size*/
        margin-left: 2rem;
    }

}

@media (max-width: 575.98px) {
    .team-member-info {
        padding: 4rem 0;

    }

    .owl-theme .owl-nav {
        font-size: 2rem;
        color: #212226;
    }

    .vertical-heading h2 {
        /* Meet out team heading fix xm size*/
        margin-left: 2rem;
    }

    ul.social-list li a i {
        font-size: 1rem;
    }
}

@media only (max-width: 320px) {
    .team-member-info {
        padding: 1rem 0;

    }

    ul.social-list li a {
        font-size: 1rem;
    }

}


/*******************************/

.team-member-info h6 {
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

/* End of team */

/* Social Icons */

ul.social-list {
    padding: 0;
    margin-top: 2rem;
}


ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    display: inline-block;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3rem;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
    /* this takes away the border when you hover over */
}

ul.social-list li:nth-child(2) a:hover {
    background: #00aced;
    border-color: transparent;
    /* this takes away the border when you hover over */
}

ul.social-list li:nth-child(3) a:hover {
    background: #dd4b39;
    border-color: transparent;
    /* this takes away the border when you hover over */
}


/* End of Social Icons */

/*********************************************************************/
/*IMPORTANT PART */
/*********************************************************************/
/* Skills */
.skill {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.skill h4 {
    line-height: 5.2rem;
    font-weight: normal;
}

.progress {
    height: 2.5rem;
    /* this make the pro/bar bigger remember son */
    border-radius: 0;
    background: #efefef;
    overflow: visible;
}

.progress-bar {
    background-color: #f4c613;
    position: relative;
}

.progress-bar span {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    background: #212226;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -47px;
}

.progress-bar span:before {
    /* holy shit.. this dude made an arrow...*/
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}

/***************************************************************/
/* End of Skill/
/*************************************************************/

/***************************************************************/
/* Statement
/*************************************************************/


#statement {
    background: url(../img/solo-images/tech/tech-quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*
    Also short hand 
    background: rul(img) no-repeat fixed center;
                    ** / cover ** is not covered in safari
    so add background-size: cover; aschea we out here kit
    */
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, .3);
}

#tech-statement h3 {
    color: #fff;
    font-size: 2.8rem;
    line-height: 4.5rem;

}

#tech-statement p {
    font-size: 2rem;
    color: #f4c613;
    font-family: "Raleway", sans-serif;
    margin-top: .8rem;
}




/***************************************************************/
/* End of Statement
/*************************************************************/

/***************************************************************/
/* Services 01
/*************************************************************/

#services-01 img {
    margin: 60px 0;
}

.service {
    margin: 3.5rem 0;
}

.service .icon {
    font-size: 4.2rem;
    margin: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.service:hover .icon {
    color: #f4c613;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.service h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f4c613;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    font-size: 2.4rem;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
}

/***************************************************************/
/* End of Services 01
/*************************************************************/

/***************************************************************/
/* Responsive tabs
/*************************************************************/

#services-02 {
    background: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 4rem;
}

#services-tabs ul li {
    padding: 5px 3rem;

}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

/* tab active state */
#services-tabs ul li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    transition: color, border-bottom .3s linear;
}

.service-tab .col-md-6 {
    padding: 0;

}

.service-tab img {
    width: 100%;
    margin: 0 auto;

}

.service-tab .tab-bg {
    background: #fff;
    padding: 5.5rem 3rem;
    min-height: 470px;
}

.service-tab h2 {
    font-size: 4.8rem;
    color: #bbb;
    margin-bottom: 2rem;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 3.2rem;
    margin-bottom: 4rem;

}

.service-tab p {
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

/***************************************************************/
/* End of Responsive tabs
/*************************************************************/


/***************************************************************/
/* Portfolio
/*************************************************************/
#portfolio {
    padding-bottom: 16rem;
}

#isotope-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

#portfolio .vertical-heading {
    margin-bottom: 5rem;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}

/* Filters CSS */
#isotope-filters {
    margin-bottom: 1rem;
    padding: 2rem 2.5rem 2rem 0;
    outline: none;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 3.5rem;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    transition: border-bottom .2s ease-in-out, color .3s ease-in-out;

}

#isotope-filters button.active span {
    color: #f4c613;
    border-bottom: 3px solid #f4c613;

}

/* Zoom effect */

.portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;

}

.portfolio-item:hover img {
    transform: scale(1.1);
    z-index: 90;
    transform: translateZ(0);
    /*this stops the transform from shaking ***/
}

/* overlay effect */

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.5);
    cursor: zoom-in;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .8s ease;

}



/* Item Details Effect */

.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);



}

.portfolio-item-details h3 {
    color: #f4c613;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    transition: all .5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 3rem;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    transition: all .5s;
}


/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);

}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);

}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;

}

/***************************************************************/
/*  owl-carousel right n left arrow bg
/*************************************************************/


.owl-next:hover,
.owl-prev:hover,
.owl-next:visited,
.owl-prev:visited,
.owl-next,
.owl-prev {
    background: transparent !important;
    color: black !important;
    outline: none;
}

/***************************************************************/
/* End of owl-carousel right n left arrow bg
/*************************************************************/

/***********************separator********************/

/***************************************************************/
/* Testimonial
/*************************************************************/

#testimonials {
    /* Adding Over flow to visible made a cool effect.. remember*/
    background: #f4f4f4;
    padding-bottom: 4.5rem;
    overflow: visible;
}

#testimonials .vertical-heading {
    padding: 8rem 0;
    margin-bottom: 5rem;
}


#testimonial-slider {
    background: #f4c613;
    top: -120px;
    /* Part of the cool effect on costomers says carousel */

}

.testimonial row {
    margin: 1rem;
}

.testimonial {
    padding: 2rem 2.4rem 0 2.4rem;
    color: #fff;
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
    margin-top: 10px;
}

.testimonial .stars {
    font-size: 2rem;
    margin: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.testimonial .author .author-name-des {
    width: 105px;
    text-align: left;
}

.author .author-name-des p {
    margin: 0;
}

/***************************************************************/
/* End of Testimonial
/*************************************************************/

/***************************************************************/
/* Pricing
/*************************************************************/



.pricing-table {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    \ box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;
    padding: 32px 21px;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.pricing-table:hover {
    background: #f4c613;
}

.pricing-table .type h4 {
    color: #f4c613;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}

.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}

.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 4.2rem;
    font-weight: 100;
    margin: 0 0 0 24px;
    position: relative;
}

.pricing-table .price h2 span {
    font-family: "Raleway", sans-serif;

}

.pricing-table .price h2 span.dollar {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: -20px;
    top: 5px;
}

.pricing-table .price h2 span.month {
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: -12px;
}

.pricing-table .price p {
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/* package list */

.pricing-table ul.package {
    list-style: none;
    padding: 20px 0;

}

.pricing-table ul.package li {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}

.pricing-table ul.package li i {
    width: 24px;
}

.pricing-table .btn-yellow,
.pricing-table.black .btn-white {
    width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
    color: #fff;
}

.pricing-table:hover .btn-yellow {
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-table .btn-yellow:hover,
.pricing-table .btn-yellow:focus {
    /*Hover effect on top of Hover effect color change*/
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}

/* End of package list */


/* Black Pricing Table */

.pricing-table.black {
    background: darkgray;
    color: #fff;
}

.pricing-table.black .type h4 {
    color: #fff;
}

.pricing-table.black:hover {
    background: #f4c613;
}

/***************************************************************/
/* End of Pricing
/*************************************************************/

/***************************************************************/
/* Stats
/*************************************************************/


#stats {
    background: url(../img/solo-images/stats/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#stats .content-box-md {
    background: rgba(0, 0, 0, .8);
}

#stats .vertical-heading {
    margin-bottom: 5rem;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: rgba(61, 68, 68, .6);
    border-radius: 4px;
    min-height: 17rem;
    padding: 2.5rem 5rem;
    transition: all .4s linear;
}

.stats-item i {
    font-size: 4.2rem;
    color: #f4c613;
    margin: 0 0 6px 0;
    transition: all .4s linear;
}

.stats-item h3 {
    font-size: 3.2rem;
    color: #fff;
    margin: 5px 0 5px 0;
}

.stats-item p {
    color: #fff;
    margin: 0;
}

.stats-item:hover {
    background: #f4c613;
}

.stats-item:hover i {
    color: #212226;
    transform: translateY(-20px);
}


/***************************************************************/
/* End of Stats
/*************************************************************/


/***************************************************************/
/* Clients
/*************************************************************/

#clients .horizontal-heading {
    margin-bottom: 3rem;
}

#clients-list {
    padding: 4.5rem 0 0 0;
}

.client {
    padding: 0 10px;
    max-width: 15rem;
    margin: 0 auto;
    line-height: 100px;
    /* using this along with display inline-block vertially alines the imgs*/
}

.client img {
    display: inline-block !important;
}

/***************************************************************/
/* Blog
/*************************************************************/
#blog {
    background: #f4f4f4;
}

#blog-left p {
    margin: 2.5rem 0;
}

#blog-btn a {
    margin: 0;
}

.blog-post {
    background: #fff;
    padding: 2rem;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;

}

.blog-post h4 {
    line-height: 4rem;
    margin: 0;

}

.blog-post > p {
    /* > indicates the first p element inside .blog-post chea */
    line-height: 24px;
    margin: 0;
    font-weight: 300;
}

.blog-post a {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #f4c613;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all .4s linear;
}

.blog-post a:hover {
    color: #212226;
}

.blog-post .post-meta {
    border-top: 1px solid #e0e0e0;
    margin-top: 3rem;
    padding-top: 1rem;
}

.blog-post .post-meta p {
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}

/***************************************************************/
/* End of Blog
/*************************************************************/

/***************************************************************/
/* Contact
/*************************************************************/




/* contact Left */
#contact-left p {
    margin: 25px 0px 20px 0px;
}

ul.office-details {
    list-style: none;
    padding: 0;

}

ul.office-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: flex;
    /*holy shit.. this fixed the align issue take off n ull see*/
    font-size: 1.3rem;
}

ul.office-details li i {
    font-size: 20px;
    width: 45px;
    /*this caused an alignment issue!! */
}

#contact-left ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-left ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}

/* Contact Right */

#contact-right {
    padding: 2.5rem 3rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;
}

#contact-right h4 {
    font-size: 2.4rem;
}

#contact-right p {
    margin-bottom: 2.5rem;
}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 1.2rem;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 165px;
}


/***************************************************************/
/* End of contact
/*************************************************************/